.Basket {
  /* text-align: center; */
  border: solid;
  margin: 2em 10em;
  padding: '400px';
}

/* #me {
  margin: 70px;
  border: 1px solid #4CAF50;
} */

.Basket-section{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}